body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Segoe Script' , 'Segoe Script', 'Segoe Script',
  'Segoe Script', 'Segoe Script', 'Segoe Script','Segoe Script', 'Segoe Script',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Segoe Script',
    monospace;
}
